body{
    background-color: white;
    margin: 0;
}

#topbar{
    width: 100%;
    height: 20%;
    background-image: linear-gradient(45deg, #4FCEC2 40%, #212431 40%);
    user-select: none;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

#topbar h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#topbar p{
    color: #4FCEC2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar{
    width: 99%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1%;
    position: absolute;
    left: 0;
    top: 0;
}

#navbar a{
    width: 8%;
    height: 65%;
}

#navbar button{
    width: 100%;
    height: 100%;
    border: 0px;
    color: #f25464;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.3s;
}

#navbar button:hover{
    background-color: #4FCEC2;
    color: #212431;
    transition-duration: 0.3s;
}

#content{
    width: 100%;
    height: max-content;
    user-select: none;
    margin-top: 4%;
}

.coloured h1{
    font-size: 40px;
    color: #212431;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.coloured p{
    width: 90%; 
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 7%;
    font-size: large;
}

.nocoloured h1{
    font-size: 40px;
    color: #f25464;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.nocoloured p{
    width: 90%; 
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 7%;
    font-size: large;
}


#footer{
    width: 100%; 
    height: 25%;
    background-color: #212431;
    margin-top: 5%;
    padding-bottom: 1%;
    user-select: none;
}

#footer p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer h1{
    color: #f25464;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}

#footer a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1%;
    padding-left: 1%;
    cursor: pointer;
    text-decoration: none;
}

#footer h3{
    font-size: 16px;
}

#footer h3:hover{
    color: #4FCEC2;
}